### Iterative Statements

*If we want to execute a group of statements multiple times, then we have to go for iterative statements.*
1. For
2. While

#### for loop

*If we want to execute some action for every element present in a sequence(collection of string or others),then we should go for - for loop*

SYNTAX:
for x in sequence:
        body

- *sequence - a string or any collection.*
- *body will be executed on each element present in string/collection.*

In [1]:
s='nikolai sokolov'
for x in s:
    print(x)

n
i
k
o
l
a
i

s
o
k
o
l
o
v

In [2]:
list1={10,34.5,23,42,'name'}
for x in list1:
    print(x)

34.5
42
23
10
name

In [3]:
# To print character present in string-indexwise
name=input("Enter a name")
i=0
for x in name:
    print("Character present at",i,"index is:",x)
    i+=1

Enter a name killian

Character present at 0 index is: k
Character present at 1 index is: i
Character present at 2 index is: l
Character present at 3 index is: l
Character present at 4 index is: i
Character present at 5 index is: a
Character present at 6 index is: n

In [16]:
# print 'hello' 10 times
a="hello"
for i in range(10):
    print(a)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [18]:
for i in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [17]:
# table of 2
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [15]:
# print from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [23]:
# print odd nos. from 1 to 20
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [20]:
# print even nos. from 1 to 20
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [21]:
for x in range(21):
    if(x%2!=0):
        print(x)

1
3
5
7
9
11
13
15
17
19

In [22]:
# Take number as input and create the table
a=int(input("Enter a value"))
for i in range(a,a*11,a):
    print(i)

Enter a value 4

4
8
12
16
20
24
28
32
36
40

#### while loop

*If we want to execute a group of statements iteratively until the condition becomes false, then we should go for while loop.*

SYNTAX:
    while condition:
        body

In [1]:
# to print nos. from 1 to 10
x=1
while x<=10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [1]:
#display the sum of first n number
n=int(input("Enter a num"))
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
    print("the sum of first",n,"number is",sum)

Enter a num 5

the sum of first 5 number is 1
the sum of first 5 number is 3
the sum of first 5 number is 6
the sum of first 5 number is 10
the sum of first 5 number is 15

#### nested loop

*loop within the loop*

In [2]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

### Transfer Statements

#### break

*We can use break statement inside loops to break the loop execution based on some condition.*

In [5]:
for i in range(10):
    if i==7:
        print("Processing is enough, please break")
        break
    print(i)

0
1
2
3
4
5
6
Processing is enough, please break

In [8]:
# using break in list
cart=[100,200,300,400,500,600]
for item in cart:
    if item>500:
        print("you get 20% discount on this order")
        break
    print(item)

100
200
300
400
500
you get 20% discount on this order

#### continue

*we can use continue statement to skip current iteration and continue to next.*

In [9]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [11]:
# using continue in list
cart=[122,322,422,300,500,600,700,100,288]
for item in cart:
    if item>=500:
        print("we cannot process this item",item)
        continue
    print(item)

122
322
422
300
we cannot process this item 500
we cannot process this item 600
we cannot process this item 700
100
288

#### pass

- *pass is a keyword in python*
- *In python if a block is required which won't do anything then we can define that empty block with pass keyword*

- It is an empty statement
- It is a null statement
- It won't do anything

In [15]:
for i in range(100):
    if i%9==0:
        print(i)
    else:
        pass

0
9
18
27
36
45
54
63
72
81
90
99

In [24]:
x=200
x

200

In [25]:
# del-delete the variable
del x

In [26]:
# x ->error --- name 'x' is not defined